
{% extends 'index.html' %} {% block content %}{% load static %}
<div class="content-wrapper">
    <div class="row mt-5">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div>
                            <div class="col-12 grid-margin stretch-card">
                                <div class="col-12">
                                    <h3 class="mb-0">Report Matter</h3>
                                    <br><br>
                                    <textarea class="col-12 grid-margin stretch-card bg-dark text-light" style="height: 300px;" id="exampleTextarea1" rows="4"></textarea>
                                    <br><br>
                                    <button type="submit" class="btn btn-primary me-2 " >Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>     
                    <!-- <h6 class="text-muted">Trainers</h6> -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
